.site-footer {
	background-color: $orange;
	color 			: $light;
	width 			: 100%;
	
	a {
		color: $light;
	}
	
	.page-template-page_B2B & {
		background-color: $teal;
	}
}

.wrap-footer {
	@include centermax( 1em );
	overflow 	: auto;
}

.site-info {
	overflow 	: auto;
	padding 	: 1em;
	text-align	: center;
	width 		: 100%;
}
