.widget-area {
	overflow 	: auto;
	padding-top : $size__default-bot-marg;
	width 		: 100%;

	@include tablet-landscape-up {

		.sidebar-content &,
		.content-sidebar & {
			width		: 27.5%;
		}
	}
}

.widget {
	margin-bottom	: $size__default-bot-marg;
	padding-bottom	: $size__default-bot-marg;
	
	&:not(:last-of-type) {
		@include stripes();
	}

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}
}

/* Search widget */
.widget_search {

	.search-submit {
		display: none;
	}

	.search-field {
		width: 98.5%;
	}
}

