/**
 * The primary menu styling.
 *
 * Contents:
 * 		Variables
 * 		Generic stuff
 *   	Toggle Button (button)
 *   	Submenus and Wrappers (div and ul)
 *   	Menu Items (li)
 *   	Current Menu Items (li)
 *   	Menu Item Links (a)
 */
.nav-primary {

	.show-hide {
		@include resetbutton();

		cursor 		: pointer;
		line-height	: 1.5;
		width 		: 2em;

		@media only screen and (min-width: $bp__menu-button + 1) {
			display: none;
		}
	}

	.children {
		display: none;

		@media only screen and (min-width: $bp__menu-button + 1) {
			display 	: inline-block;
			margin-left : 0.25em;
		}
	}

} // .nav-primary



/**
 * Toggle Button.
 */
.menu-primary-toggle {

	@include resetbutton();

	background		: $med; // cannot use background-color to reset default WP button styles
	color 			: $light;
	font-size		: 1.25em;
	line-height		: 1.5;
	outline 		: 0;
	padding 		: 0.5em;
	width			: 100%;

	&:hover,
	&:focus,
	&:active {
		border		: none;
	}

	&:focus,
	&:active {
		box-shadow: inset 0 0 5px $med;
	}

	@media only screen and (min-width: $bp__menu-button + 1) {
		display 		: none;
	}
}



/**
 * Menus
 */
.primary-menu-items { // all the ULs
	@include resetlist();

	@media only screen and (min-width: $bp__menu-button + 1) {
		@include center();
	}
}

.primary-menu-items-closed {
	@media only screen and (max-width: $bp__menu-button) {
		display: none;
	}
}

.primary-menu-items-0 { // the 1st-level menu
	@media only screen and (max-width: $bp__sidemenu) {
		display: none;

		&[aria-expanded="true"] {
			display: block;
		}
	}

	ul { // all the submenus
		@media only screen and (min-width: $bp__menu-button + 1) {
			box-shadow 	: 0 3px 3px rgba(0, 0, 0, 0.2);
			left 		: 0;
			opacity 	: 0;
			position 	: absolute;
			transition 	: visibility 0s ease, opacity 0.5s ease;
			visibility 	: hidden;
			z-index 	: 99999;
		}
	}
}

.primary-menu-items-1 { // 2nd-level menu
	background-color: $med;
	display			: inherit;

	a { // all the links under the 2nd-level menu
		@media only screen and (min-width: $bp__menu-button + 1) {
			width: 200px;
		}
	}

}



/**
 * Menu Items.
 */
.primary-menu-item { // Every menu item
	position: relative;

	&:hover,
	&.focus {

		> ul {
			@media only screen and (min-width: $bp__sidemenu + 1) {
				left 		: auto;
				opacity 	: 1;
				visibility 	: visible;
			}
		}

	}

	&.menu-item-has-children {
		@media only screen and (max-width: $bp__sidemenu) {
			border-bottom 	: 3px solid $med;
		}
	}
}



.primary-menu-item-1 { // 2nd-level menu item, first submenu
	display 	: block;
	text-align 	: left;

	&:last-child { // Last child of the 2nd-level submenu and below.

		@media only screen and (max-width: $bp__sidemenu) {
			padding-bottom: 0;
		}
	}

	&:hover,
	&.focus {

		> ul {
			@media only screen and (min-width: $bp__sidemenu + 1) {
				left 	: 100%;
				top 	: 0;
			}
		}
	}
}



/**
 * Current Menu Items.
 */
.current-menu-item,
.current-menu-parent,
.current_page_item,
.current_page_ancestor {

	@media only screen and (min-width: $bp__sidemenu + 1) {
		background-color: $darkmed;
	}

	> a { // menu item link directly under the above current class menu items and below.
		color: $dark;
	}

	&:hover,
	&.focus {

		> a {
			color: $dark;
		}
	}
}



/**
 * Menu Item Links.
 */
.primary-menu-item-link {
	align-items 	: center;
	color 			: $dark;
	display			: flex;
	padding 		: 0.5em 1em;
	text-decoration	: none;
	transition 		: $trans__default;
	white-space 	: nowrap;

	@media only screen and (max-width: $bp__menu-button) {

		justify-content	: space-between;
	}

	@media only screen and (min-width: $bp__sidemenu + 1) {
		color: $dark;
	}

	@media only screen and (min-width: $bp__menu-button + 1) {
		background-color: $med;
		color 			: $darkdark;
	}

	&:focus {
		outline-color: $med;
	}

}

.primary-menu-item-link-1 { // 2nd-level menu item link, first submenu
	@media only screen and (max-width: $bp__sidemenu) {
		padding-left: 2em;
	}
}

.primary-menu-item-link-2 { // 3rd-level menu item link, second submenu
	@media only screen and (max-width: $bp__sidemenu) {
		border-left : none;
		padding-left: 3em;
	}
}
