.social-menu-items {
	@include resetlist();
	display		: flex;
	align-items	: center;
}

.social-menu-item {
	margin 		: 0 0.5em;
	position 	: relative;
	
	svg {
		fill 	: $light;
		height 	: $font__size-social;
		width 	: $font__size-social;
	}
	
	&.contact-us {
		@include phone-down {
			display: none;
		}
	}
}

.social-menu-item-link {
	@include unline( $light );
	display		: block;
	font-size	: 1.25em;
	padding		: 0.5em;
}