.toggles-menu-items {
	@include resetlist();
	
	.for-families {
		background-color: $teal;
		
		a {
			color 			: $light;
			
			.page-template-page_B2B & {
				color: $teal;
			}
		}
		
		.page-template-page_B2B & {
			background-color: transparent;
		}
	}
	
	@include phone-down {
		display 		: flex;
		justify-content	: space-around;
		order			: 1;
		width 			: 100%;
	}
	
	.for-referrals {
		background-color: none;
		
		a {
			color 			: $orange;
			
			.page-template-page_B2B & {
				color: $light;
			}
		}
		
		.page-template-page_B2B & {
			background-color: $orange;
		}
	}
}

.nav-toggles-item {
	margin 		: 0 0 1em;
	
	@include tablet-portrait-up {
		margin-top: 1em;
	}
}

.nav-toggles-item-link {
	@include unline( $red );
	display 	: block;
	font-size 	: 1.125em;
	line-height : 1.1;
	padding 	: 1em;
	
	@include tablet-portrait-up {
		font-size	: 1.25em;
	}
}