.sticky {
	display: block;
}

.type-post,
.type-page {
	margin-bottom: $size__default-bot-marg * 2;
}

.page-content,
.entry-content,
.entry-summary {
	margin 		: 0;
}

.page-links {
	margin: 0 0 1.5em;
}

.site-content {
	margin-bottom	: $size__default-bot-marg;
	overflow 		: auto;
	width 			: 100%;

	@include centermax();
}

.content-area {
	display 	: flex;
	overflow 	: auto;
	padding 	: 1em;
	padding-top : 0;
	width 		: 100%;
	
	@include tablet-down {
		flex-wrap: wrap;
	}
}

.site-main {
	width: 100%;
	
	@include tablet-landscape-up {
		.content-sidebar & {
			margin-right: 2.5%;
			width 		: 70%;
		}

		.sidebar-content & {
			margin-left : 2.5%;
			width 		: 70%;
		}
	}
}

.page-title {
	color			: $darkteal;
	text-transform	: lowercase;
	
	.page-template-page_B2B & {
		color: $orange;
	}
}

.entry-title,
.entry-title-link,
.widget-title {
	text-transform	: lowercase;
}