.business-directory {
	background-color: $light;
	
	.contact-bar {
		background-color: $red;
	}
	
	.nav-primary,
	.featured-image {
		display: none;
	}
	
	.nav-toggles-item {
		background-color: transparent !important;
	}
	
	.nav-toggles-item-link-first {
		color: $teal !important;
	}
	
	.nav-toggles-item-link-last {
		color: $orange !important;
	}
	
	.wpbdp-main-box {
		background: $teal !important;
		
		[type="submit"],
		[type=button] {
			@include resetbutton( $light );
			
			background	: $cream !important;
			border-color: $red !important;
			color 		: $red !important;
			padding 	: .6em 1em .4em;
		}
	}
	
	.advanced-search-link {
		color: $cream;
	}

	.wpbdp-listing-excerpt {
		padding: 0;
		
		&.odd {
			background: $light !important;
		}
	}
	
	.igrow-coins {
		background-color: $yellow;
	}
}

.wpbdp-listing {
	
	a {
		border-bottom	: none !important;
		color			: $teal !important;
	}

	.listing-actions {
		display: none !important;
	}
	
	.listing-details {
		margin-left: 0 !important;
	}
	
	.listing-title {
		background-color	: $red !important;
		border-bottom-color : $red !important;
		
		a,
		h2 {
			border-bottom	: none;
			color			: $light !important;
			padding 		: 0.5em;
		}
	}
	
	.excerpt-content {
		padding: 0.5em;
	}
}