.business-directory {
	background-color: $light;
	
	.contact-bar {
		background-color: $yeller;
	}
	
	.social-menu-item-link {
		color: $dark;
		
		svg {
			fill: $dark;
		}
	}
	
	.nav-primary {
		display: none;
	}
	
	.nav-toggles-item {
		background-color: transparent !important;
	}
	
	.nav-toggles-item-link-first {
		color: $teal !important;
	}
	
	.nav-toggles-item-link-last {
		color: $orange !important;
	}
	
	.wpbdp-main-box {
		background: $yeller !important;
	}
	
	[type="submit"],
	[type=button] {
		@include resetbutton( $light );
		
		background	: $dark !important;
		border-color: $dark !important;
		color 		: $yeller !important;
		padding 	: .6em 1em .4em;
	}
	
	input {
		border-color: $dark;
	}
	
	.advanced-search-link {
		color: $dark;
	}

	.wpbdp-listing-excerpt {
		padding: 0;
		
		&.odd {
			background: $light !important;
		}
	}
	
	.igrow-coins {
		background-color: $yellow;
	}
}

.wpbdp-listing {
	
	a {
		border-bottom	: none !important;
		color			: $teal !important;
	}

	.listing-actions {
		display: none !important;
	}
	
	.listing-details {
		margin-left: 0 !important;
	}
	
	.listing-title {
		background-color	: $red !important;
		border-bottom-color : $red !important;
		
		a,
		h2 {
			border-bottom	: none;
			color			: $light !important;
			padding 		: 0.5em;
		}
	}
	
	.excerpt-content {
		padding: 0.5em;
	}
}