.soliloquy-container {
	margin-bottom: 0 !important;
}

.soliloquy-outer-container {
	border-bottom: 5px solid $orange;
}

.page-template-page_B2B {
	.soliloquy-outer-container {
		border-bottom-color: $teal;
	}
}

